.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo{width: 100px;}
.main_wrap{width: 100%;text-align: center;margin-top: 30px;}
.table_wrap{display: block;margin: 25px;}
.MuiFormGroup-root{display: block !important;}
.makeStyles-formControl-1{margin: 24px !important;
    border: 1px solid #eee !important;
    padding: 20px !important;}
.button_wrap{margin-top: 20px;}
.input_wrap{    width: 300px;display: inline-block;}
.MuiTableCell-alignLeft{white-space: pre-wrap;}